@using System.Web.Mvc
@using System.Web.Mvc.Html
@using EPiServer.Shell
@inherits System.Web.Mvc.WebViewPage<KachingPlugIn.ViewModels.PlugInViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ka-ching integration</title>
</head>

<body>
    <div>
        <h2>Ka-ching integration</h2>

        <hr />

        @if (Model.ProgressViewModel.Busy)
        {
            <div id="progress">
                @Html.Partial(Paths.ToResource("KachingPlugIn", "KachingPlugIn/Views/Progress.cshtml"), Model.ProgressViewModel)
            </div>
        }
        else
        {
            @using (Html.BeginForm("UpdateConfiguration", "KachingPlugIn", FormMethod.Post))
            {
                <fieldset>
                    <legend>Import settings</legend>
                </fieldset>
                <div class="epi-size10">
                    <div>
                        @Html.LabelFor(m => m.ExportSingleVariantAsProduct, "Export single variants as product?")
                        @Html.CheckBoxFor(m => m.ExportSingleVariantAsProduct)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.ProductsImportUrl, "Products import URL")
                        @Html.TextBoxFor(m => m.ProductsImportUrl)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.FoldersImportUrl, "Folders import URL")
                        @Html.TextBoxFor(m => m.FoldersImportUrl)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.TagsImportUrl, "Tags import URL")
                        @Html.TextBoxFor(m => m.TagsImportUrl)
                    </div>
                </div>
                <div class="epi-buttonContainer-small">
                    <button type="submit">Save</button>
                </div>
            }

            <br />
            <hr />

            using (Html.BeginForm("StartFullProductExport", "KachingPlugIn", FormMethod.Post))
            {
                <h3>Perform full product export</h3>
                if (Model.ProductExportStartButtonDisabled)
                {
                    <p><em>Attention:</em> Requires valid products import URL. Find the URL in <a href="https://backoffice.ka-ching.dk" target="_blank">Ka-ching Backoffice</a></p>
                }
                <button type="submit" onclick="scheduleReloadProgressElement();" disabled='@(Model.ProductExportStartButtonDisabled)'>Start</button>
            }

            <br />
            <hr />

            using (Html.BeginForm("StartFullCategoryExport", "KachingPlugIn", FormMethod.Post))
            {
                <h3>Perform full category export</h3>
                if (Model.CategoryExportStartButtonDisabled)
                {
                    <p><em>Attention:</em> Requires valid tags and folders import URLs. Find the URLs in <a href="https://backoffice.ka-ching.dk" target="_blank">Ka-ching Backoffice</a></p>
                }
                <button type="submit" onclick="scheduleReloadProgressElement();" disabled='@(Model.CategoryExportStartButtonDisabled)'>Start</button>
            }

            if (Model.ProgressViewModel.Error)
            {
                <p>Error - operation aborted. See log files for more information.</p>
            }
        }
    </div>
</body>
</html>
<style type="text/css">
    input[type="text"] {
        width: 350px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script>
    function reloadPage() {
        window.location.reload();
    }
    function reloadProgressElement() {
        var url = '@Url.Action("Poll", new { })';
        $.get(url, function (data) {
            $("#progress").empty().append(data);
            var shouldScheduleReload = shouldSchedulePoll();
            if (shouldScheduleReload) {
                scheduleReloadProgressElement();
            } else {
                reloadPage();
            }
        });
    }
    function scheduleReloadProgressElement() {
        window.setTimeout(reloadProgressElement, 500);
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        if ('@(Model.ProgressViewModel.Busy)' === '@true') {
            scheduleReloadProgressElement();
        }
    });
</script>

